@model JobPortal.Data.ViewModel.CreateBlogViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@{
    var user = await userManager.GetUserAsync(User);
    ViewData["Title"] = "Tạo bài viết";
}

<script src="//cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<div class="container">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 style="text-align: center" class="card-title">MẪU TẠO BÀI VIẾT</h4>
                    <br />
                    <div class="col-md-4i">
                        <form asp-action="Create" enctype="multipart/form-data" id="form">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label"></label><span class="text-danger">*</span>
                                        <input asp-for="Title" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label><span class="text-danger">*</span>
                                        <textarea asp-for="Description" class="form-control ckeditor"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="Content" class="control-label"></label><span class="text-danger">*</span>
                                        <textarea asp-for="Content" class="form-control ckeditor"></textarea>
                                        <span asp-validation-for="Content" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Author" class="control-label"></label><span class="text-danger">*</span>
                                        <input asp-for="Author" class="form-control" />
                                        <span asp-validation-for="Author" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="Image" class="control-label"></label><span class="text-danger">*</span>
                                        <input type="file" asp-for="Image" class="form-control" accept="image/*" id="imgInp" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                        <img id="blah" src="#" alt="Hình ảnh của bạn" style="width: 390px;" />
                                    </div>
                                    <br />
                                    <div class="form-group text-center">
                                        <input style="background-color:forestgreen" type="button" onclick="onCreate()" value="Tạo bài viết" class="btn btn-primary" />
                                    </div>
                                    <br />
                                    <div class="form-group text-center">
                                        <a class="btn btn-primary" href="/employer/blog/@user.Id">Quay lại danh sách</a>
                                    </div>
                                </div>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#imgInp').change(function (evt) {
                var file = evt.target.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(file);
                }
            });
        });
    </script>

    <script>
        function onCreate() {
            if ($('#imgInp').get(0).files.length === 0) {
                Swal.fire(
                    'Thất bại',
                    'Vui lòng chọn hình ảnh cho bài viết.',
                    'error'
                );
                return; // Dừng thực thi
            }
            Swal.fire({
                title: 'Thêm bài viết mới?',
                text: "Bạn có chắc chắn muốn thêm bài viết mới?",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xác nhận'
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#form").submit();
                    Swal.fire(
                        'Thành công!',
                        '',
                        'success'
                    )
                }
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            $('.ckeditor').each(function () {
                CKEDITOR.replace($(this).attr('id'));
            });
        });
    </script>
}
