@{
	Layout = "_Layout";
}
<!-- Start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Về Chúng Tôi
                </h1>
                <p class="text-white link-nav"><a href="/">Trang Chủ</a><span class="lnr lnr-arrow-right"></span>  <a href="#"> Về Chúng Tôi</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start service Area -->
<section class="service-area section-gap" id="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-40 header-text">
                <h1>Tại Sao Chọn Chúng Tôi</h1>
                <p>
                    Chúng tôi rất yêu thích hệ thống thân thiện với môi trường.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-user"></span> Kỹ Thuật Viên Chuyên Nghiệp</h4>
                    <p>
                        Việc sử dụng Internet ngày càng phổ biến nhờ vào sự tiến bộ nhanh chóng của công nghệ và điện lực.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-license"></span> Dịch Vụ Chuyên Nghiệp</h4>
                    <p>
                        Việc sử dụng Internet ngày càng phổ biến nhờ vào sự tiến bộ nhanh chóng của công nghệ và điện lực.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-phone"></span> Hỗ Trợ Tuyệt Vời</h4>
                    <p>
                        Việc sử dụng Internet ngày càng phổ biến nhờ vào sự tiến bộ nhanh chóng của công nghệ và điện lực.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-rocket"></span> Kỹ Năng Kỹ Thuật</h4>
                    <p>
                        Việc sử dụng Internet ngày càng phổ biến nhờ vào sự tiến bộ nhanh chóng của công nghệ và điện lực.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-diamond"></span> Được Đề Cử Cao</h4>
                    <p>
                        Việc sử dụng Internet ngày càng phổ biến nhờ vào sự tiến bộ nhanh chóng của công nghệ và điện lực.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-bubble"></span> Đánh Giá Tích Cực</h4>
                    <p>
                        Việc sử dụng Internet ngày càng phổ biến nhờ vào sự tiến bộ nhanh chóng của công nghệ và điện lực.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service Area -->
<!-- Start feature Area -->
<section class="feature-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 feat-img no-padding">
                <img src="~/assets/user/img/pages/f1.jpg" alt="">
            </div>
            <div class="col-lg-3 no-padding feat-txt">
                <h6 class="text-uppercase text-white">Sửa Chữa Cơ Bản & Thường Xuyên</h6>
                <h1>Chúng Tôi Là Ai</h1>
                <p>
                    Người dùng máy tính và lập trình viên đã quen thuộc với việc sử dụng Windows, ngay cả khi các khả năng và giao diện đồ họa thay đổi.
                </p>
            </div>
            <div class="col-lg-3 feat-img no-padding">
                <img src="~/assets/user/img/pages/f2.jpg" alt="">
            </div>
            <div class="col-lg-3 no-padding feat-txt">
                <h6 class="text-uppercase text-white">Sửa Chữa Cơ Bản & Thường Xuyên</h6>
                <h1>Chúng Tôi Làm Gì</h1>
                <p>
                    Người dùng máy tính và lập trình viên đã quen thuộc với việc sử dụng Windows, ngay cả khi các khả năng và giao diện đồ họa thay đổi.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End feature Area -->
<!-- Start team Area -->
<section class="team-area section-gap" id="team">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Đội Ngũ Cố Vấn Kinh Nghiệm</h1>
                    <p>Chúng tôi rất yêu thích hệ thống thân thiện với môi trường.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img src="~/assets/user/img/pages/t1.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Ethel Davis</h4>
                    <p>Giám Đốc Điều Hành (Bán Hàng)</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img src="~/assets/user/img/pages/t2.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Rodney Cooper</h4>
                    <p>Giám Đốc Nghệ Thuật Sáng Tạo (Dự Án)</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img src="~/assets/user/img/pages/t3.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Dora Walker</h4>
                    <p>Nhà Phát Triển Cốt Lõi Cao Cấp</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img src="~/assets/user/img/pages/t4.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Lena Keller</h4>
                    <p>Nhà Phát Triển Nội Dung Sáng Tạo</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End team Area -->
<!-- End team Area -->
<!-- Start callto-action Area -->
<!-- Start call-to-action Area -->
<section class="callto-action-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Tham gia cùng chúng tôi hôm nay mà không ngần ngại</h1>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    <a class="primary-btn" href="#">Tôi là ứng viên</a>
                    <a class="primary-btn" href="#">Chúng tôi là nhà tuyển dụng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End call-to-action Area -->
<!-- Start testimonial Area -->
<section class="testimonial-area section-gap" id="review">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Lời chứng thực từ khách hàng của chúng tôi</h1>
                    <p>Những người rất yêu thích hệ thống thân thiện với môi trường.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-review-carusel">
                <div class="single-review">
                    <img src="~/assets/user/img/r1.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>lorem ipusm</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Phụ kiện Máy tính, tại đây bạn có thể tìm thấy những phụ kiện máy tính tốt nhất cho laptop, màn hình, máy in, máy quét, loa.
                    </p>
                </div>
                <div class="single-review">
                    <img src="~/assets/user/img/r2.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>lorem ipusm</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Phụ kiện Máy tính, tại đây bạn có thể tìm thấy những phụ kiện máy tính tốt nhất cho laptop, màn hình, máy in, máy quét, loa.
                    </p>
                </div>
                <div class="single-review">
                    <img src="~/assets/user/img/r1.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>lorem ipusm</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Phụ kiện Máy tính, tại đây bạn có thể tìm thấy những phụ kiện máy tính tốt nhất cho laptop, màn hình, máy in, máy quét, loa.
                    </p>
                </div>
                <div class="single-review">
                    <img src="~/assets/user/img/r2.png" alt="">
                    <div class="title d-flex flex-row">
                        <h4>lorem ipusm</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p>
                        Phụ kiện Máy tính, tại đây bạn có thể tìm thấy những phụ kiện máy tính tốt nhất cho laptop, màn hình, máy in, máy quét, loa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End testimonial Area -->
