@{
    Layout = "_Layout";
}

<!-- Bắt đầu khu vực banner -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Gói Giá
                </h1>
                <p class="text-white link-nav"><a href="/">Trang Chủ </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Gói Giá</a></p>
            </div>
        </div>
    </div>
</section>
<!-- Kết thúc khu vực banner -->
<!-- Bắt đầu khu vực giá -->
<section class="price-area section-gap" id="price">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Chọn gói giá tốt nhất cho bạn</h1>
                    <p>Những người yêu thích hệ thống thân thiện với môi trường.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-price no-padding">
                    <div class="price-top">
                        <h4>Gói Cơ Bản</h4>
                    </div>
                    <ul class="lists">
                        <li>2.5 GB Dung Lượng</li>
                        <li>Chuyển Đổi Trực Tuyến An Toàn</li>
                        <li>Phong Cách Không Giới Hạn</li>
                        <li>Dịch Vụ Khách Hàng</li>
                    </ul>
                    <div class="price-bottom">
                        <div class="price-wrap d-flex flex-row justify-content-center">
                            <span class="price">$</span><h1> 39 </h1><span class="time">Mỗi <br> Tháng</span>
                        </div>
                        <a href="#" class="primary-btn header-btn">Bắt Đầu</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price no-padding">
                    <div class="price-top">
                        <h4>Gói Tiêu Chuẩn</h4>
                    </div>
                    <ul class="lists">
                        <li>10 GB Dung Lượng</li>
                        <li>Chuyển Đổi Trực Tuyến An Toàn</li>
                        <li>Phong Cách Không Giới Hạn</li>
                        <li>Dịch Vụ Khách Hàng</li>
                    </ul>
                    <div class="price-bottom">
                        <div class="price-wrap d-flex flex-row justify-content-center">
                            <span class="price">$</span><h1> 69 </h1><span class="time">Mỗi <br> Tháng</span>
                        </div>
                        <a href="#" class="primary-btn header-btn">Bắt Đầu</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price no-padding">
                    <div class="price-top">
                        <h4>Gói Cao Cấp</h4>
                    </div>
                    <ul class="lists">
                        <li>Dung Lượng Không Giới Hạn</li>
                        <li>Chuyển Đổi Trực Tuyến An Toàn</li>
                        <li>Phong Cách Không Giới Hạn</li>
                        <li>Dịch Vụ Khách Hàng</li>
                    </ul>
                    <div class="price-bottom">
                        <div class="price-wrap d-flex flex-row justify-content-center">
                            <span class="price">$</span><h1> 99 </h1><span class="time">Mỗi <br> Tháng</span>
                        </div>
                        <a href="#" class="primary-btn header-btn">Bắt Đầu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Kết thúc khu vực giá -->
<!-- Bắt đầu khu vực tính năng -->
<section class="feature-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 feat-img no-padding">
                <img src="~/assets/user/img/pages/f1.jpg" alt="">
            </div>
            <div class="col-lg-3 no-padding feat-txt">
                <h6 class="text-uppercase text-white">Sửa Chữa Cơ Bản & Thông Dụng</h6>
                <h1>Chúng tôi là ai</h1>
                <p>
                    Người dùng máy tính và lập trình viên đã quen thuộc với Windows, ngay cả với các khả năng thay đổi và sự xuất hiện của giao diện đồ họa.
                </p>
            </div>
            <div class="col-lg-3 feat-img no-padding">
                <img src="~/assets/user/img/pages/f2.jpg" alt="">
            </div>
            <div class="col-lg-3 no-padding feat-txt">
                <h6 class="text-uppercase text-white">Sửa Chữa Cơ Bản & Thông Dụng</h6>
                <h1>Chúng tôi làm gì</h1>
                <p>
                    Người dùng máy tính và lập trình viên đã quen thuộc với Windows, ngay cả với các khả năng thay đổi và sự xuất hiện của giao diện đồ họa.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Kết thúc khu vực tính năng -->
<!-- Bắt đầu khu vực nộp -->
<section class="submit-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="submit-left">
                    <h4>Nộp Hồ Sơ Của Bạn Hôm Nay</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </p>
                    <a href="#" class="primary-btn header-btn">Nộp CV</a>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="submit-right">
                    <h4>Đăng Công Việc Mới Ngay!</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                    </p>
                    <a href="#" class="primary-btn header-btn">Đăng Công Việc</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Kết thúc khu vực nộp -->
